{% extends "layout.twig" %}
{% set active_page = "admin-divisions" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Admin</h1>
            <h2>Divisions</h2>
            {{ flashMessages()|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="modal fade confirm-delete-division" id="deleteModal" tabindex="-1" role="dialog" 
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Division</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            <form action="/admin/divisions/delete" method="post">
                                <input type="hidden" name="id" value="">
                                <button type="submit" class="btn btn-success">Yes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <table class="table table-sm table-dark table-striped table-bordered">
                <thead class="bg-dark-2">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for division in divisions %}
                        <tr>
                            <td>{{ division.id }}</td>
                            <td>{{ division.name }}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-warning delete-division" data-toggle="modal" 
                                        data-target="#deleteModal" data-id="{{ division.id }}">
                                    delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <form class="mb-3 bg-dark text-light p-3" action="/admin/divisions/new" method="post">
                <h3>Add Division</h3>
                <div class="form-group">
                    <label class="text-light" for="nameInput">Name</label>
                    <input type="text" name="name" class="form-control bg-light-1" id="nameInput">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
