{% extends "layout.twig" %}
{% set active_page = "admin-groups" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>Admin</h1>
            <h2>Groups</h2>
        </div>
    </div>

    {{ flashMessages()|raw }}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <form class="mb-3 card bg-dark border-light" action="/admin/groups/sync" method="post">
                <div class="card-body">
                    <h5 class="card-title">Update Groups</h5>
                    <p class="card-text">Synchronize (add, remove) external groups.</p>
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
