{% extends "layout.twig" %}
{% set active_page = "all-requests" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>All Requests</h1>
            <form class="p-3 border border-light" method="get">
                <div class="mb-3">
                    <label for="division" class="form-label">Division</label>
                    <select class="form-control" id="division" name="division">
                        <option value="-1"></option>
                        {% for division in divisions %}
                            <option {% if selectedDivision == division.id %}selected{% endif %}
                                    value="{{ division.id }}">
                                {{ division.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-control" id="status" name="status">
                        {% for status in [
                            constant('EveSrp\\Type::INCOMPLETE'),
                            constant('EveSrp\\Type::EVALUATING'),
                            constant('EveSrp\\Type::APPROVED'),
                            constant('EveSrp\\Type::REJECTED'),
                            constant('EveSrp\\Type::PAID'),
                        ] %}
                            <option {% if selectedStatus == status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Show</button>
            </form>
        </div>
    </div>
    {% include 'components/request-list.twig' with {
        page: 'process',
        requests: requests,
        pagerCurrentPage: pagerCurrentPage,
        pagerTotalPages: pagerTotalPages,
        pagerLink: pagerLink,
    } only %}
{% endblock %}
