{% extends "layout.twig" %}
{% set active_page = pageActive %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>{{ pageName }}</h1>
        </div>
    </div>
    {% include 'components/request-list.twig' with {
        pageActive: pageActive,
        requests: requests,
        payoutSum: payoutSum,
        sort: 'up'
    } only %}
{% endblock %}
