{% extends "layout.twig" %}
{% set active_page = "my-requests" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>My Requests</h1>
            {{ flashMessages()|raw }}
        </div>
    </div>
    {% include 'components/requests.twig' with {requests: requests, page: 'show'} only %}
{% endblock %}
