{% extends "layout.twig" %}
{% set active_page = page %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>{{ page|capitalize }}</h1>
        </div>
    </div>
    {% include 'components/requests.twig' with {requests: requests, page: 'process'} only %}
{% endblock %}
