{% extends "layout.twig" %}
{% set active_page = "request" %}

{% block content %}

    <div class="row mb-3">
        <div class="col">
            <h1>Request</h1>
        </div>
    </div>

    {{ flashMessages()|raw }}

    {% if request %}
        <div class="page-request row mb-3">
            <div class="col-12 col-lg-6">
                <div class="card bg-dark mb-3 border-light">
                    <div class="card-body">
                        {% include 'pages/parts/request-data.twig' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card bg-dark border-light">
                    <div class="card-body">
                        {% include 'pages/parts/request-ship.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
