{% extends "layout.twig" %}
{% set active_page = "request" %}

{% block content %}

    <h1>Request</h1>
    {% if error %}
        <div class="alert alert-warning">{{ error }}</div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12 col-lg-6">
            {% if request %}
                {% include 'pages/parts/request-data.twig' %}
            {% endif %}
        </div>
        <div class="col-12 col-lg-6">
            {% include 'pages/parts/request-ship.twig' %}
        </div>
    </div>

{% endblock %}
