{% extends "layout.twig" %}
{% set active_page = "review" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Review</h1>
        </div>
    </div>
    {% include 'components/requests.twig' with {requests: requests, page: 'process'} only %}
{% endblock %}
