@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~choices.js/public/assets/styles/choices.min.css";

:root {
    --srp-text-color: #f8f9fa; // color of .text-light

    --srp-bg-color: #212529; // color of .bg-dark
    --srp-bg-color-2: #2c3034; // lighter, color of odd table rows

    // Colors were taken from the Bootswatch Cyborg theme.
    --srp-link-color: #2a9fd6;
    --srp-link-color-hover: #227fab;
}

// Layout

html {
    // for sticky footer
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px; // footer height with a margin
}

.srp-page-footer {
    border-top: 1px solid grey;
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    max-height: 51px;
    overflow-y: auto;

    .github {
        float: right;
        a {
            text-decoration: none;
        }
        img {
            vertical-align: text-bottom;
        }
    }
}

// General

a {
    color: var(--srp-link-color);
    &:hover {
        color: var(--srp-link-color-hover);
    }
}

.srp-external-link:after {
    //noinspection CssNoGenericFontName
    font-family: bootstrap-icons;
    display: inline-block; // removes underline
    margin-left: 2px;
    font-size: 0.8em;
    content: '\F1C5'; // bi bi-box-arrow-up-right
}

.srp-bg-dark-2 {
    background-color: var(--srp-bg-color-2);
}

// Libraries

.form-control,
.form-control:focus {
    color: var(--srp-text-color);
    background-color: var(--srp-bg-color-2);
}

.popover {
    background-color: var(--srp-bg-color);
    border-color: grey;
    .popover-body {
        color: var(--srp-text-color);
    }
    .popover-header {
        background-color: var(--srp-bg-color-2);
        color: var(--srp-text-color);
    }
}

.choices {
    .choices__list--dropdown {
        background-color: var(--srp-bg-color-2);
        .choices__item--selectable.is-highlighted {
            background-color: var(--srp-bg-color);
        }
    }
    .choices__inner {
        background-color: var(--srp-bg-color-2);
        input {
            background-color: inherit;
        }
    }
}

// Pages

.srp-esi-link {
    max-width: 315px;
}
