<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
        <title>{{ data.appTitle }}</title>
        <link rel="stylesheet" href="/assets/bravecollective/web-ui/css/brave.css">
    </head>
    <body class="container-fluid">
        <header class="navbar navbar-dark bg-brave shadow-1 mb-3">
            <span class="navbar-brand">{{ data.appTitle }}</span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {% if hasRole('submit') %}
                    <li class="nav-item"><a class="nav-link" href="/submit">Submit</a></li>
                {% endif %}
                {% if hasRole('approve') %}
                    <li class="nav-item"> <a class="nav-link" href="/approve">Approve</a></li>
                {% endif %}
                {% if hasRole('pay') %}
                    <li class="nav-item"><a class="nav-link" href="/pay">Pay</a></li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {{ data.userName }}
                <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
            </form>
        </header>

        <main>{% block content %}{% endblock %}</main>
        
        <footer class="navbar navbar-dark bg-brave text-light shadow-1 flex-column">
            <div class="text-center ">
                {{ data.footerText }}
                <br>
                <span class="text-center small">
                    "EVE", "EVE Online", "CCP" and all related logos and images are 
                    trademarks or registered trademarks of CCP hf.
                </span>
            </div>
        </footer>
        
        <script src="/assets/bravecollective/web-ui/js/jquery.slim.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/popper.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/bootstrap.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/material.min.js"></script>
    </body>
</html>
