{% extends "_layout.twig" %}

{% block content %}
    <div class="row text-light">
        <div class="col">
            <h1>Home</h1>
            <div>
                roles:
                <ul>
                    {% for role in roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                chars:
                <ul>
                    {% for char in chars %}
                        <li>{{ char }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
