<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
        <link rel="shortcut icon" href="/favicon.ico">
        <title>{{ data.appTitle }}</title>
        {{ include('css.html') }}
    </head>
    <body class="container-fluid bg-dark text-light">
        {% block main %}{% endblock %}
        {{ include('js.html') }}
    </body>
</html>
