<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ data.appTitle }}</title>
    <meta name="description" content="A ship replacement program for EVE Online">
    {{ include('js.html') }}
    {{ include('css.html') }}
    <script src="/static/custom.js"></script>
</head>
<body class="container-fluid bg-dark text-light">
    {% if data.userName %}
        {% include 'layout--header.twig' with { active_page: active_page } only %}
    {% endif %}

    <main>{% block content %}{% endblock %}</main>

    <footer class="srp-page-footer text-center text-white-50 mb-2 pt-2 small">
        {{ data.footerText|raw }}
        <span class="small eve">
            EVE and related materials are trademarks of
            <a href="https://www.ccpgames.com" target="_blank" rel="noopener noreferrer" class="srp-external-link">
                CCP hf</a>.
        </span>
        <span class="small github">
            <a href="https://github.com/tkhamez/eve-srp" target="_blank" rel="noopener noreferrer"
               class="srp-text-muted" title="EVE-SRP on GitHub">
                <img src="/static/GitHub-Mark-16px.png" alt="GitHub">
                <span>EVE-SRP</span>
            </a>
        </span>
    </footer>
</body>
</html>
