<a 
    href="https://time.nakamura-labs.com/?#{{ timestamp|date('U') }}" 
    target="_blank" 
    rel="noopener noreferrer"
    class="srp-external-link"
>
    {{ timestamp|date(format|default('Y-m-d H:i')) }}
</a>